@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Marcellus&display=swap');

.marcellus {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.archivo {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
@keyframes blinkColor {
  0%, 100% {
    background-color: #28476F;
    transform: scale(1);
  }

  50% {
    background-color: #466A98;
    transform: scale(1.08);
  }
}